<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">RPVV Yearbook</h1>
        <div class="row center">
          <h5 class="header col s12 light">Its time to share feelings! </h5>
        </div>
        <div class="row center">
          <% unless user_signed_in? %>
            <%=link_to "Sign Up",  new_user_registration_path ,{ class:"btn-large waves-effect waves-light teal lighten-1", id:"download-button"} %><br/>
            <h5 class="grey-text lighten-1-text">Log In with:</h5>
            <%=link_to user_omniauth_authorize_path(:facebook)  do%>
            <i class="fa fa-facebook-square fa-3x"></i>
            <%end%>
            <%=link_to user_omniauth_authorize_path(:linkedin)  do%>
            <i class="fa fa-linkedin-square fa-3x"></i>
            <%end%>
            <%=link_to user_omniauth_authorize_path(:google_oauth2)  do%>
            <i class="fa fa-google-plus-square fa-3x"></i>
            <%end%>
            <%=link_to user_omniauth_authorize_path(:twitter)  do%>
            <i class="fa fa-twitter-square fa-3x"></i>
            <%end%>
          <% else %>
            <h6 class="white-text">Welcome Aboard!!</h6>
          <% end %>
        </div>
        <div class="row center">
         
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag("background1.jpg", :alt => "Unsplashed bacground img 1") %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">School life memories never fade..</h5>

            <p class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
              scelerisque id nunc 
              nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
             
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Be besties once more</h5>

            <p class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
              scelerisque id nunc 
              nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
             
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Tell teachers how much you appreciate</h5>

            <p class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
              scelerisque id nunc 
              nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
             
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Share, Learn and Thank! <br/>
          Because there is no special time. Its hour is NOW
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("background2.jpg", :alt => "Unsplashed bacgroung img 2") %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          scelerisque id nunc 
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. 
          Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
          Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, 
          non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          scelerisque id nunc 
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. 
          Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
          Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, 
          non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubil>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          scelerisque id nunc 
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. 
          Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
          Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, 
          non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubil>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          scelerisque id nunc 
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. 
          Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
          Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, 
          non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubil
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Get in touch with your long lost school buddies</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("background2.jpg", :alt => "Unsplashed bacgroung img 3") %></div>
  </div>

  