<div class="card-panel hoverable" style="border-top: 1px solid  #009688; border-bottom: 1px solid  #009688; min-height:250px;">
  
  <%unless user_profile== @profile%>
    <div class="right">
      <%if (@profile.user_type == "Student")%>
        <%= link_to 'Sign Yearbook', yearbook_profile_path(@profile)%><br/>
      <%else%>
        <%= link_to 'Say Thanks!', yearbook_profile_path(@profile)%><br/>
      <%end%>
        <%= link_to 'Request to Contact', edit_profile_path(@profile)%>
    </div>
  <%end%>
  
  <div class="row">
    <div class="col s3" style="padding-right: 0px; padding-left: 0px;">
      <div class="img_container" style="overflow: hidden; padding-right: 0px;">
         <%= image_tag display_pic(@profile), :alt => "Profile Picture", :class => "responsive-img", :id => "profile_pic_other"%>
      </div>
    </div>
      <div class="col s5" style="padding-right: 0px;">
        <h5 class><%= @profile.name %></h5>
        <%=@profile.user_type%> at <%= @profile.school.school_name%>
        <%= @profile.batch%>
         <p>
          <%= @profile.city %>
         </p>
      </div>
    </div>
</div>