<%if current_user.profile == @profile %>
  <nav class="white">
    <ul>
      <li class="tab col s3"><%= link_to 'Profile', profile_path(@profile),class: "teal-text center-align"%></li>
      <li class="tab col s3"><%= link_to 'Yearbook', yearbook_profile_path(@profile),class: "teal-text center-align"%></li>
      <%if (@profile.user_type == "Student")%>
        <li class="tab col s3"><%= link_to 'Classmates', classmate_profile_path(@profile),class: "teal-text center-align"%></li>
      <%else%>
       <li class="tab col s3"><%= link_to 'Colleagues', classmate_profile_path(@profile),class: "teal-text center-align"%></li>
      <%end%>
      <li class="tab col s3"><a class="teal-text center-align" href="#test4">Messages</a></li>
    </ul>
  </nav>
<%else%>
  <nav class="white">
    <ul>
      <li class="tab col s4"><%= link_to 'Profile', profile_path(@profile),class: "teal-text center-align"%></li>
      <li class="tab col s4"><%= link_to 'Yearbook', yearbook_profile_path(@profile),class: "teal-text center-align"%></li>
      <%if (@profile.user_type == "Student")%>
        <li class="tab col s4"><%= link_to 'Classmates', classmate_profile_path(@profile),class: "teal-text center-align"%></li>
      <%else%>
       <li class="tab col s4"><%= link_to 'Colleagues', classmate_profile_path(@profile),class: "teal-text center-align"%></li>
      <%end%>
      
    </ul>
  </nav>
<%end%>