<p id="notice"><%= notice %></p>
<div class="row" style="margin-bottom: 0px;">
  <div class="col s4 offset-s4 ">
    <h3 class=" teal-text center-align">School buddies</h3>
    <nav class="grey lighten-3">
        <div class="nav-wrapper">
            <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
                <div class="input-field">
                    <%= search_field_tag :search, params[:search], placeholder: "Search " %>
                    <%= submit_tag "Search", :name => nil %><br/>
                    <label for="search"><i class="material-icons" style="color:teal; padding-left: 10px;">search</i></label>
                    <i class="material-icons">close</i>    
                </div>
            <% end %>               
        </div>
    </nav>
    <br/>
</div>
</div>


<div class="row">
  <div class="col s8 offset-s2 ">
    
    <ul class="collection">
          <li class="collection-item avatar">
            <%unless @profiles.empty?%>
            <% @profiles.each do |profile| %>
              <%unless user_profile==profile%>
                <span class="title"><h6><%= link_to profile.name, profile %></h6></span>
                <%= image_tag display_pic(profile), :alt => "Profile Picture", :class => "circle responsive-img  "%>
                <div>
                  <%= profile.user_type%>
                <p><%= profile.user.email %>
                <%= profile.date_of_birth %>
                <%= profile.city %>
                </p>
                </div>
              <%else%>
                <%if @profiles.count == 1%><h4 class="teal-text center-align">Sorry! No other users from your school yet</h4><%end%>
              <%end%>
                <%if current_user.is_admin?%>
                <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%>
              <% end %>
              <br/>
            <%else%>
                <h4 class="teal-text center-align">No results found</h4>
               
            <%end%>
          </li>
    </ul>
    
    <%if current_user.is_admin?%>
    <%= link_to 'Add Profile', new_profile_path,{:class => "waves-effect waves-light btn"} %>
    <%end%>
 </div>
</div>