<p id="notice"><%= notice %></p>

<p>
  <%if current_user==@profile.user%>
  <strong>User:</strong>
  <%= @profile.user %>
  <%end%>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>User type:</strong>
  <%= @profile.user_type %>
</p>

<p>
  <strong>School:</strong>
  <%= @profile.school.school_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
