
<div class="row"> 
  <div class="col s6 offset-s3">
    <div class="card-panel hoverable">
     
<%- if devise_mapping.omniauthable? %>
  <h6 class="teal-text">Log In with:</h6>
    <%=link_to user_omniauth_authorize_path(:facebook)  do%>
    <i class="fa fa-facebook-square fa-2x"></i>
    <%end%>
    <%=link_to user_omniauth_authorize_path(:linkedin)  do%>
    <i class="fa fa-linkedin-square fa-2x"></i>
    <%end%>
    <%=link_to user_omniauth_authorize_path(:google_oauth2)  do%>
    <i class="fa fa-google-plus-square fa-2x"></i>
    <%end%>
    <%=link_to user_omniauth_authorize_path(:twitter)  do%>
    <i class="fa fa-twitter-square fa-2x"></i>
    <%end%>
    <br/>
<% end %>      
       <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
  
        <%= f.fields_for :profile do |profile_form| %>
          <%= profile_form.label :name %><br />
          <%= profile_form.text_field :name  %>
        <% end %>
        
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="input-field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <div class="input-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      
        <div class="actions">
          <%= f.button "Sign up" ,class: "btn waves-effect waves-light" %>
        </div>
        
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>