<div  class="navbar-fixed">
  <nav  role="navigation" class="teal">
    <div class="nav-wrapper container">
        <%unless user_signed_in? %>
            <%=link_to "Yearbook",  root_path , class:"brand-logo",id:"logo-container"%>
        <%else%>
            <%=link_to "Yearbook",  profile_path( user_profile) , class:"brand-logo",id:"logo-container"%>
        <%end%>
      <ul class="right hide-on-med-and-down">
         <% unless user_signed_in? %>
         <li><%=link_to "Home",  root_path %></li>
         <li><%=link_to "Schools",  schools_path %></li>
         <li><%=link_to "About us",  about_path %></li>
         <li><%=link_to "Sign In",  new_user_session_path %></li>
         <%else%>
           
            <li><%= link_to("My Profile", profile_path( user_profile)) %></li>
            <li><%=link_to "School buddies",  profiles_path %></li>
             <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown1">
                <%= user_profile.name%>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><%= link_to('Edit Profile',  edit_profile_path( user_profile)) %></li>
                <li class="divider"></li>
                <li><%= link_to('User settings',  edit_user_registration_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
         <%end%>
      </ul>
      <ul>
    <%if user_signed_in?%>
      <li class="right">
      <span class="hide-on-large-only"><%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i><%end%></span>
      </li>
    <%else%>
      <li class="right">
      <span class="hide-on-large-only"><%= link_to new_user_session_path do %><i class="fa fa-sign-in"></i><%end%></span>
      </li>
    <%end%>
      </ul>
      <%= render 'layouts/mobile_sidebar'%>
    </div>
  </nav>
</div>