<ul id="nav-mobile" class="side-nav">
         <%unless user_signed_in?%>
             <li><%=link_to "Home",  root_path %></li>
             <li><%=link_to "Schools",  schools_path %></li>
             <li><%=link_to "About us",  about_path %></li>
         <%else%>
              <li class="logo">
                  <%= link_to(image_tag display_pic(user_profile), :alt => "Profile Picture", \
                                      :class => "profile_pic circle responsive-img") %><br/>
                  <%= link_to(user_profile.name, profile_path( user_profile), class: "center-align") %>
              </li>
              <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Settings<i class="material-icons right">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                        <li><%= link_to('Edit Profile', edit_profile_path( user_profile)) %></li>
                        <li class="divider"></li>
                        <li><%= link_to('Password settings',  edit_user_registration_path) %></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><%=link_to "School buddies",  profiles_path %></li>
         <%end%>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>